.create-new-note {  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background: lightgray;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background: linear-gradient(to left, #E8E8E8 50%, lightgray 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
}

.create-new-note:hover {
    background-position: left;
}

.create-icon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    width: 2.5rem;
}