.note {
    display: inline-block;
    background-color: #E8E8E8;
    padding: 0;
    margin: 1.7rem 0rem 0rem 2rem;
    width: 21.1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.note:hover {
    transform: scale(1.05);
}

.highlight {
    background-color: lightcyan;
}

.content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.body {
    height: 9.5rem;
    width: auto;
    margin: 0;
    padding: 0rem 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    font-family: 'Poppins', sans-serif;
    line-height: 19px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;

}

.last-modified {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: gray;
    margin: 0rem 0rem 0rem 2rem;
}

.edit-delete-images {
    display: flex;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

.delete-icon {
    width: 2.5rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.delete-icon:hover {
    background-color: lightgray;
    border-radius: 10rem;
}

.edit-icon {
    width: 2.6rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.edit-icon:hover {
    background-color: lightgray;
    border-radius: 10rem;
}